.mainImageContainer {
    width: 100%;
    height: 40rem;
    margin: 0;
}

.mainContext {
    position: absolute;
    width: 30rem;
    color: white;
    text-overflow: ellipsis;
    left: 3rem;
    bottom: 2.5rem;
}

.mainContext h1 {
    font-size: 5rem;
}

.mainContext p{
    width: 30rem;
    height: 13rem;
    font-size: 1.1rem;
}